* {
  padding: 0;
  box-sizing: content-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #100F0F;
}

@media (min-width: 815px) {
  .header {
    background-color: #080707;
    height: 5rem;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(#080707, #100F0F);
  }
  .nav {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
  }
  .nav h2 {
    font-weight: bold;
    padding: 0 20px;
  }
  .nav-input {
    display: none;
  }
  .nav-input:checked + .nav-menu {
    background: #080707;
  }
  .nav-label {
    display: none;
  }
  .subtitulo {
    color: white;
    font-size: 1rem;
    line-height: 2.8rem;
  }
  .subtitulo:hover {
    color: rgb(116, 116, 116);
    transition: 300ms;
  }
  .nav-menu {
    display: grid;
    grid-auto-flow: column;
  }
  .nav-menu-item {
    padding: 0 0.9rem;
    text-transform: uppercase;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  .nav-menu-item::after {
    content: "";
    display: block;
    background: #fff;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path 0.3s;
  }
  .nav-menu-item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@media (max-width: 816px) {
  .nav-label {
    display: block;
    cursor: pointer;
  }
  .nav-menu {
    position: fixed;
    top: 4rem;
    bottom: 0;
    background: #080707;
    width: 100vw;
    height: 100vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }
  .nav-input:checked + .nav-menu {
    clip-path: circle(100% at center);
  }
}
@media (max-width: 768px) {
  .section-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 8rem;
  }
  .section-table .table {
    border-radius: 0.5rem;
    margin-top: 3rem;
    width: 90vw;
    height: 50vh;
    padding: 2.5rem;
    text-align: center;
    border-collapse: collapse;
  }
  .section-table .table tr {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }
  .section-table .table tr:hover {
    border-top: 3px solid;
    border-bottom: 3px solid;
  }
  .section-table .table tr td {
    padding: 0 16px;
  }
}
.tarjeta__boton {
  padding: 8px 10px;
  background: #fff;
  color: black;
  border-radius: 5px;
  transition: 500ms;
}
.tarjeta__boton:hover {
  background: #a2a2a2;
  color: #080707;
  padding: 10px 12px;
}

.header {
  background-color: #080707;
  height: 5rem;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(#080707, #100F0F);
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .nav-input {
  display: none;
}
.header .nav .subtitulo {
  color: white;
  font-size: 1rem;
  line-height: 2.8rem;
}
.header .nav .subtitulo:hover {
  color: rgb(116, 116, 116);
  transition: 500ms;
}
.header .nav h2 {
  font-weight: bold;
  padding: 0 20px;
}
.header .nav__menu {
  display: grid;
  grid-auto-flow: column;
}
.header .nav__menu .nav-menu-item {
  padding: 0 0.9rem;
  text-transform: uppercase;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.header .nav__menu .nav-menu-item .nav-menu-item::after {
  content: "";
  display: block;
  background: #fff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}
.header .nav__menu .nav-menu-item .nav-menu-item::after .nav-menu-item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.footer,
.footer__gallery {
  margin-top: 5rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
}
.footer .nombre-footer,
.footer__gallery .nombre-footer {
  color: white;
  font-size: 1.125rem;
  text-shadow: 2px 2px 5px black;
  margin: 0;
}
.footer .footer-items .subtitulo,
.footer__gallery .footer-items .subtitulo {
  display: flex;
  color: white;
  flex-flow: row wrap;
  margin: rem;
  text-align: center;
  justify-content: center;
  align-content: center;
  text-shadow: 2px 2px 5px black;
}
.footer .copyright,
.footer .mas-info,
.footer__gallery .copyright,
.footer__gallery .mas-info {
  color: white;
  text-align: center;
  margin: 0 2rem;
  display: block;
  padding-bottom: 1rem;
  text-shadow: 2px 2px 5px black;
}

.container-foto {
  background-image: url(../img/fondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 98.8vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-foto h1 {
  text-align: center;
  font-size: 2.6rem;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.container-foto h3 {
  font-size: 1rem;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.seccion-dos {
  padding-top: 4rem;
  text-align: justify;
  display: flex;
  flex-flow: row wrap;
  margin: 0 3rem;
  justify-content: space-around;
  align-items: center;
}
.seccion-dos p {
  color: white;
  font-size: 1rem;
  width: 45vw;
  align-items: center;
}
.seccion-dos .bgfa-foto {
  background-image: url(../img/bgfa.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 37.5rem;
  height: 25rem;
  border-radius: 0.625rem;
}

@media (max-width: 768px) {
  .container-foto {
    background-image: url(../img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-foto h1 {
    text-align: center;
    font-size: 1.6rem;
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  }
  .container-foto h3 {
    font-size: 0.8rem;
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  }
}
.container-discography {
  display: flex;
  margin-top: 10rem;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  position: relative;
}
.container-discography .titulo-discography {
  position: absolute;
  top: -8rem;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 10px black;
}
.container-discography div {
  padding: 2rem;
}
.container-discography iframe {
  box-shadow: 5px 5px 10px black;
}
.container-discography div {
  width: 40rem;
}

/*---- Musicas populares ----*/
.container-music {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin: 55px;
}
.container-music h3 {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.section-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 8rem;
}
.section-table .table {
  border-radius: 0.5rem;
  margin-top: 3rem;
  width: 50vw;
  height: 55vh;
  padding: 2.5rem;
  text-align: center;
  border-collapse: collapse;
}
.section-table .table tr {
  border-bottom: 2px solid white;
}
.section-table .table tr:hover {
  border-bottom: 3px solid;
  border-top: 3px solid;
}

.tarjeta {
  width: 350px;
  height: 300px;
}
.tarjeta__titulo {
  font-size: 24px;
}
.tarjeta__img {
  width: 100%;
}
.tarjeta__boton {
  padding: 8px 10px;
  background: #fff;
  color: black;
  border-radius: 5px;
  transition: 500ms;
}
.tarjeta__boton:hover {
  background: #a2a2a2;
  color: #080707;
  padding: 10px 12px;
}

.titulo__photos {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo__photos h1 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 10px black;
}

.container-gallery {
  margin-top: 3rem;
}
.container-gallery .container-gallery-img {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.container-gallery img {
  border-radius: 0.5rem;
  margin: 10px;
  width: 100%;
}

.footer__gallery {
  margin-top: 15rem;
}

.titulo__contact {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo__contact h1 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px black;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  gap: 20px;
}
.formulario__nya {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.formulario__nya div {
  padding: 0 1.5rem;
}
.formulario__nya div input {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}
.formulario__nya div label {
  width: 100%;
}
.formulario__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.formulario__form div input {
  width: 100%;
  padding: 10px 18px;
  border-radius: 5px;
}
.formulario__form div label {
  width: 100%;
}
.formulario__textarea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.formulario__textarea div input {
  width: 100%;
}
.formulario__textarea div label {
  width: 100%;
}
.formulario__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.formulario__buttons input {
  width: 100%;
  padding: 10px 120px;
  border-radius: 5px;
  color: black;
  background-color: white;
  cursor: pointer;
  transition: 500ms;
}
.formulario__buttons input:hover {
  background-color: #080707;
  color: white;
}
.formulario__buttons label {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
