* {
    padding: 0;
    box-sizing: content-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #100F0F;
}

/*---- Encabezado ----*/

.header {
    background-color: #080707;
    height: 5rem;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(#080707, #100F0F);
}

.nav {
    display: flex;
    justify-content: space-between;
    /* max-width: 992px; */
    margin: 0 auto;
    align-items: center;
}

.nav-input:checked+.nav-menu {
    background: #080707;
}

.nav-label,
.nav-input {
    display: none;
}

.subtitulo {
    color: white;
    font-size: 1rem;
}

.nav h2 {
    font-weight: bold;
    padding: 0 20px;
}

.nav-menu {
    display: grid;
    grid-auto-flow: column;
}

.nav-menu-item {
    padding: 0 0.9rem;
    text-transform: uppercase;
    /* width: max-content; */
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav-menu-item::after {
    content: "";
    display: block;
    background: #fff;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

.nav-menu-item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.subtitulo:hover {
    color: rgb(116, 116, 116);
    transition: 300ms;
}

@media (max-width: 700px) {
    .nav-label {
        display: block;
        cursor: pointer;
    }

    .nav-menu {
        position: fixed;
        top: 4rem;
        bottom: 0;
        background: #080707;
        width: 100vw;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }

    .nav-input:checked+.nav-menu {
        /* background: #080707; */
        clip-path: circle(100% at center);
    }
}

/* ---- Main ---- */

.container-foto {
    background-image: url(../img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-foto h1 {
    text-align: center;
    font-size: 2.6rem;
    color: white;
    text-shadow: 0 0 8px rgb(0, 0, 0, 0.8);
}

.container-foto h3 {
    font-size: 1rem;
    color: white;
    text-shadow: 0 0 8px rgb(0, 0, 0, 0.8);

}

/*---- Seccion de informacion ----*/

.seccion-dos {
    width: 100vw;
    padding-top: 4rem;
    text-align: justify;
    display: flex;
    flex-flow: row wrap;
    margin: 0 3rem;
    justify-content: space-around;
    align-items: center;
}

.biografia p {
    color: white;
    font-size: 1rem;
    width: 45vw;
    align-items: center;
}

.bgfa-foto {
    width: 37.5rem;
    height: 25rem;
    border-radius: 0.625rem;
}

/* ---- Pie de pagina ---- */

.footer {
    margin-top: 5rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
}

.nombre-footer {
    text-align: center;
    color: white;
    font-size: 1.125rem;
    text-shadow: 1px 1px 5px black;
}

.copyright,
.mas-info {
    color: white;
    text-align: center;
    margin: 0.5rem 2rem;
    display: block;
    padding-bottom: 1rem;
}

.footer div ul {
    display: none;
    margin-bottom: 0;
}

.footer-items {
    display: flex;
    flex-flow: row wrap;
    margin: 0 1.3rem;
    text-align: center;
    justify-content: center;
    align-content: center;
}

/*---- Discography ---- */

.container-discography {
    display: flex;
    margin-top: 10rem;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    position: relative;
}

.titulo-discography {
    position: absolute;
    top: -8rem;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 10px black;
}

.container-discography div {
    padding: 2rem;
}

.container-discography iframe {
    box-shadow: 5px 5px 10px black;
}

/*---- Musicas populares ----*/

.container-music {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.container-music div {
    padding: 1rem;
}

.container-music div h2 {
    text-align: center;
    color: white;
    font-size: 2rem;
}