* {
    padding: 0;
    box-sizing: content-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    background-color: #100F0F;
}

// ---- Encabezado ----

.header {
    background-color: #080707;
    height: 5rem;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(#080707, #100F0F);

    .nav {
        display: flex;
        justify-content: space-between;
        /* max-width: 992px; */
        margin: 0 15px;
        align-items: center;

        .nav-label,
        .nav-input {
            display: none;
        }

        .subtitulo {
            color: white;
            font-size: 1rem;
            line-height: 2.8rem;
        }

        .subtitulo:hover {
            color: rgb(116, 116, 116);
            transition: 500ms;
            font-size: 1.05rem;
        }

        h2 {
            font-weight: bold;
            padding: 0 20px;
        }

        .nav-menu {
            display: grid;
            grid-auto-flow: column;

            .nav-menu-item {
                padding: 0 0.9rem;
                text-transform: uppercase;
                /* width: max-content; */
                --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);

                .nav-menu-item::after {
                    content: "";
                    display: block;
                    background: #fff;
                    width: 90%;
                    margin-top: 3px;
                    height: 3px;
                    clip-path: var(--clippy);
                    transition: clip-path .3s;

                    .nav-menu-item:hover {
                        --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .nav-label {
        display: block;
        cursor: pointer;
    }

    .nav-menu {
        position: fixed;
        top: 4rem;
        bottom: 0;
        background: #080707;
        width: 100vw;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }

    .nav-input:checked+.nav-menu {
        /* background: #080707; */
        clip-path: circle(100% at center);
    }
}

// ---- Portada principal ----

.container-foto {
    background-image: url(../img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 98.8vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        font-size: 2.6rem;
        color: white;
        text-shadow: 0 0 8px rgb(0, 0, 0, 0.8);
    }

    h3 {
        font-size: 1rem;
        color: white;
        text-shadow: 0 0 8px rgb(0, 0, 0, 0.8);
    }
}

// ---- Seccion de informacion ----

.seccion-dos {
    padding-top: 4rem;
    text-align: justify;
    display: flex;
    flex-flow: row wrap;
    margin: 0 3rem;
    justify-content: space-around;
    align-items: center;

    p {
        color: white;
        font-size: 1rem;
        width: 45vw;
        align-items: center;
    }

    .bgfa-foto {
        background-image: url(../img/bgfa.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 37.5rem;
        height: 25rem;
        border-radius: 0.625rem;
    }
}

// ---- Pie de pagina ----

.footer,
.footer__gallery {
    margin-top: 5rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;

    .nombre-footer {
        // text-align: center;
        color: white;
        font-size: 1.125rem;
        text-shadow: 1px 1px 5px black;
        margin: 0;
    }

    .footer-items .subtitulo {
        display: flex;
        color: white;
        flex-flow: row wrap;
        margin: 1rem;
        text-align: center;
        justify-content: center;
        align-content: center;
    }

    .copyright,
    .mas-info {
        color: white;
        text-align: center;
        margin: 0.5rem 2rem;
        display: block;
        padding-bottom: 1rem;
    }
}

// ---- Archivo Discography ----

.container-discography {
    display: flex;
    margin-top: 10rem;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    position: relative;

    .titulo-discography {
        position: absolute;
        top: -8rem;
        text-align: center;
        color: white;
        text-shadow: 3px 3px 10px black;
    }

    div {
        padding: 2rem;
    }

    iframe {
        box-shadow: 5px 5px 10px black;
    }
}

// ---- Musicas populares ----

.container-music {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;

    div {
        padding: 1rem;

        h2 {
            text-align: center;
            color: white;
            font-size: 2rem;
        }

        iframe {
            box-shadow: 5px 5px 10px black;
        }
    }
}

// ---- Tour ----

.section-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 8rem;

    .table {
        /* background-color: #080707; */
        border-radius: 0.500rem;
        margin-top: 3rem;
        width: 50vw;
        height: 55vh;
        padding: 2.5rem;
        text-align: center;
        border-collapse: collapse;

        tr {
            border-bottom: 2px solid white;
        }
    }
}

// ---- Shop ---- 

.tarjeta {
    width: 350px;
    height: 300px;

    &__titulo {
        font-size: 24px;
    }

    &__img {
        width: 100%;
    }

    &__boton {
        padding: 8px 10px;
        background: #fff;
        color: black;
        border-radius: 5px;
        transition: 500ms;

        &:hover {
            background: #a2a2a2;
            color: #080707;
            padding: 10px 12px;
        }
    }
}

// ---- Gallery Photos ----

.container-gallery {
    margin-top: 15rem;

    .container-gallery-img {
        margin: 0 4.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px 0;
        justify-items: stretch;
        align-items: stretch;
        justify-content: center;
        align-content: center;
    }

    img {
        border-radius: 0.5rem;
        margin: 10px;
    }
}

.footer__gallery {
    margin-top: 10rem;
}