// ---- Contact ----

.titulo__contact {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: $color-letra;
        text-align: center;
        text-shadow: 2px 2px 5px black;
    }
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;


    &__nya {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        color: $color-letra;
        width: 40%;


        div {
            width: 40%;

            input {
                width: 100%;
                border-radius: 5px;
                padding: 10px 0;
            }

            label {
                width: 100%;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: $color-letra;
        width: 40%;

        div {
            width: 100%;

            input {
                width: 100%;
                padding: 10px 0;
                border-radius: 5px;
            }

            label {
                width: 100%;
            }
        }

    }

    &__textarea {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: $color-letra;
        width: 40%;

        div {
            width: 100%;

            textarea {
                width: 100%;
            }

            label {
                width: 100%;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        width: 40%;

            input {
                width: 20%;
        }
    }
}