// ---- Gallery Photos ----

.titulo__photos{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        color: $color-letra;
        text-align: center;
        text-shadow: 2px 2px 10px black;
    }
}

.container-gallery {
    margin-top: 3rem;

    .container-gallery-img {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    img {
        border-radius: 0.5rem;
        width: 95%;
    }
}

.footer__gallery {
    margin-top: 15rem;
}