// ---- Shop ---- 

.tarjeta {
    width: 350px;
    height: 300px;

    &__titulo {
        font-size: 24px;
    }

    &__img {
        width: 100%;
    }

    &__boton {
        padding: 8px 10px;
        background: #fff;
        color: black;
        border-radius: 5px;
        transition: 500ms;

        &:hover {
            background: #a2a2a2;
            color: #080707;
            padding: 10px 12px;
        }
    }
}
