// ---- Tour ----

.section-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-letra;
    margin-top: 8rem;

    .table {
        border-radius: 0.500rem;
        margin-top: 3rem;
        width: 50vw;
        height: 55vh;
        padding: 2.5rem;
        text-align: center;
        border-collapse: collapse;

        tr {
            border-top: 2px solid white;
            border-bottom: 2px solid white;

            &:hover {
                border-bottom: 3px solid;
                border-top: 3px solid;
            }
        }
    }
}