// ---- Index ----

@media (min-width:815px) {
	.header {
		background-color: #080707;
		height: 5rem;
		position: fixed;
		width: 100vw;
		top: 0;
		left: 0;
		z-index: 1;
		background: linear-gradient(#080707, #100F0F);
	}

	.nav {
		display: flex;
		justify-content: space-between;
		margin: 0 10px;
		align-items: center;

		h2 {
			font-weight: bold;
			padding: 0 20px;
		}
	}

	.nav-input {
		&:checked+.nav-menu {
			background: #080707;
		}

		display: none;
	}

	.nav-label {
		display: none;
	}

	.subtitulo {
		color: white;
		font-size: 1rem;
		line-height: 2.8rem;

		&:hover {
			color: rgb(116, 116, 116);
			transition: 300ms;
		}
	}

	.nav-menu {
		display: grid;
		grid-auto-flow: column;
	}

	.nav-menu-item {
		padding: 0 0.9rem;
		text-transform: uppercase;
		--clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);

		&::after {
			content: "";
			display: block;
			background: #fff;
			width: 90%;
			margin-top: 3px;
			height: 3px;
			clip-path: var(--clippy);
			transition: clip-path .3s;
		}

		&:hover {
			--clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
	}
}

@media (max-width: 816px) {
	.nav-label {
		display: block;
		cursor: pointer;
	}

	.nav-menu {
		position: fixed;
		top: 4rem;
		bottom: 0;
		background: #080707;
		width: 100vw;
		height: 80vh;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		clip-path: circle(0 at center);
		transition: clip-path 1s ease-in-out;
	}

	.nav-input {
		&:checked+.nav-menu {
			clip-path: circle(100% at center);
		}
	}
}

// ---- Tour ----

@media (max-width: 768px) {
	.section-table {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $color-letra;
		margin-top: 8rem;

		.table {
			border-radius: 0.500rem;
			margin-top: 3rem;
			width: 90vw;
			height: 50vh;
			padding: 2.5rem;
			text-align: center;
			border-collapse: collapse;

			tr {
				border-top: 2px solid white;
				border-bottom: 2px solid white;
			}

			td {
				padding: 0 16px;
			}
		}
	}
}

// ---- Pie de pagina ----

@media (max-width: 816px) {
	.footer,
.footer__gallery {
    margin-top: 5rem;
   

    .footer-items .subtitulo {
        color: $color-letra;
        flex-flow: row wrap;
        margin: 0.5rem 0;
        text-align: center;
        justify-content: center;
        align-content: center;
        text-shadow: 2px 2px 5px black;
    }

}
}